 body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('coliaeu.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: white;
}
section {
background-color: rgba(0, 0, 0,0.7);
margin: 20px auto;
padding: 20px;
max-width:  900px;
border-radius: 15px;

}
.Galeria {
 display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 15px;
}

.Galeria img {
    width: 100%;
    max-width: 250px;
height: 200px;
object-fit: cover;
border-radius: 10px;
transition: 0.3;

}

.Galeria img:hover {
    transform: scale(1.1);
}
.btn-enviar {
    background-color: #27ae60;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.btn-enviar {
    background-color: #27ae60;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}