/* fundo da pagina vou mexer*/
 body {background-color:  #2c3e50;
     
     display: flex;
     justify-content: center; /* centralixa de um lado para o outro*/
     align-items: center;/* centraliza de cima para baixo*/
     height: 100vh;/* garante q o centro seja o da tela toda */
     margin: 0;/* tira os espaço branco da borda*/
 }

/* vou mexer no quadrado onde fica o loguim*/
    div  {
        background-color: white; /* deixa o fundo do formulario branco*/
        padding: 30px;/* da um espaçamento interno*/
    }

input{
width: 100%;
margin: 10px 0;
border:2px solid #333;
border-radius: 5px;
 box-sizing: border-box;


}

